<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web App</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>Vibrational Energy Quantum Theoretical Resonator (VEQTR)</h1>
    <label for="cars">Choose a molecule:</label>
    <select name="molecule" id="molecule">
        <option value="h2o">Water</option>
        <option value="h2">Hydrogen</option>
        <option value="co2">Carbon Dioxide</option>
        <option value="c2h4">Ethene</option>
    </select>
    <button id="submit-btn">Submit</button>

    <div id="audio-selector" style="display:none;">
        <label for="audio-version">Choose an audio version:</label>
        <select id="audio-version">
            <!-- Audio versions will be dynamically added here -->
        </select>
        <button id="play-btn">Play Audio</button>
    </div>

    <div id="image-container">
        <img id="molecule-image" src="" alt="Molecule Image" style="display: none;">
    </div>
    <div id="response"></div>
    <script src="../static/script.js"></script>
</body>
</html>
