<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web App</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>Vibrational Energy Quantum Tunneling Resonator (VEQTR)</h1>
    <label for="cars">Choose a molecule:</label>
    <select name="molecule" id="molecule">
        <option value="water">Water</option>
        <option value="benzene">Benzene</option>
        <option value="boron trifluoride">Boron Trifluoride</option>
        <option value="dopamine">Dopamine</option>
    </select>
    <button id="submit-btn">Submit</button>

    <div id="visualization">
        <h2>Generated Visualization:</h2>
        <img id="molecule-image" src="" alt="Molecule Visualization" style="display:none; width: 400px; height: auto;">
    </div>

    <div id="response"></div>

    <div id="jsmol" style="width: 400px; height: 400px;"></div>

    <script src="../static/script.js"></script>
    <script src="https://chemapps.stolaf.edu/jmol/jsmol.min.js"></script>
</body>
</html>
